<div class="article">
	<p id="notice"><%= notice %></p>
	<h1 id="postTitle" class="articleCenter"><%= @post.title %></h1>
	</br></br>
	<p class="article">
	  <%= @post.content %>
	</p>

	<p> Posted on: 
      <%= Date.parse(@post.created_at.to_s) %>
      <br>
      <strong>Category: </strong><%= @post.category %>
    </p>

	<p class="likeBox">
	  <%= @post.likes %> Likes
	  <form action="/posts/<%=@post.id%>" method="post">
        <input type="submit" value="Like" name="Submit" class="coolbutton" style="float: right;"/>
      </form>
	</p>

	<div class="commentBox">
		<strong>Comments:</strong>
		</br>
		<% @comments.each do |comment| %>
		      <tr>
		        <td><%= comment.content %> - </td>
		        <td><%= Date.parse(comment.created_at.to_s) %></td>
		      </tr>
		      <br>
		      <br>
		<% end %>

		<form accept-charset="UTF-8" action="/comments" class="new_comment" id="new_comment" method="post">

		  <div class="field">
		    <label for="comment_content"></label><br>
		    <textarea id="comment_content" name="comment[content]"></textarea>
		  </div>
		  <div class="field">
		    <label for="comment_post_id"></label><br>
		    <input id="comment_post_id" name="comment[post_id]" type="hidden" value="<%=@post.id%>">
		  </div>
		  <div class="actions">
		    <input class="coolbutton" name="commit" type="submit" value="Comment">
		  </div>
		</form>

	</div>
	
</div>

<br>
<a href="http://localhost:3000">Home</a>

<script type="text/javascript">
	document.getElementById("title").innerHTML = document.getElementById("postTitle").innerHTML
</script>